<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/reset-fonts-grids.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico">
        {% block head %}
        {% endblock %}
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
    </head>
    <body>
    {% block content %}
    {% endblock %}
    <div id="ft">
     <a href="/">home</a>  | <a href="/help">help</a> | <a href="/bins">find your video</a> | <a href="/about">about</a> | <a href="/api">api</a> | <a href="/code">code</a> | <a href="/feedback">talk to us</a>  
    </div>
    </body>
</html>
