{% extends "base.html" %}

{% block head %}
<title>VideoBin Code</title>
{% endblock %}

{% block content %}
  <h1>Code</h1>
  <ul>
    <li>VideoBin is Free Software, you can install your own version of this site.</li>
    <li>It is written in <a href="http://python.org">Python</a>, based on <a href="http://www.djangoproject.com/">Django</a>.</li>
    <li>Building on open and free media formats by <a href="http://xiph.org/">Xiph.Org</a></li>
    <li>Get the code
        <span class="code">git clone https://r-w-x.org/videobin.git</span>
         (<a href="https://r-w-x.org/videobin.git">browse</a>)
    </li>
  </ul>
{% endblock %}

