{% extends "base.html" %}

{% block head %}
   <title>Help Encoding</title>
{% endblock %}

{% block content %}
    <div style="width:460px;margin-left: auto; margin-right: auto;">
    
    <h1>Help Encoding</h1>
    Videobin will transcode videos to Ogg Theora, to save bandwidth. You should transcode videos before uploading though. Using ffmpeg2theora you can use our special preset, used on the server:
    <pre>
      ffmpeg2theora -p videobin yourfile.mov
    </pre>
  <a href="http://v2v.cc/~j/ffmpeg2theora">get ffmpeg2theora</a>
  </div>
{% endblock %}

