<!doctype html>
<html>
    <head>
      <title>{{video.title}}</title>
      <script type="text/javascript">
        video_duration = {{video.duration}}/1000;
      </script>
      <script src="/static/js/Ogg.js?7" type="text/javascript"></script>
      <link rel="stylesheet" type="text/css" href="/static/css/reset-fonts-grids.css"></link>
      <style>
        body {
          margin: 0;
          padding: 0;
          background: #000;
          color: #ddd;
        }
        #status {
          padding: 5px;
          padding-top: 29%;
          text-align: center;
        }
      </style>
      <meta http-equiv="X-UA-Compatible" content="IE=8" />
    </head>
    <body>
{% if video.disabled %}
  <div id="status">
{% if video.reason_disabled %}
    {{video.reason_disabled|safe}}
{% else %}
    Video was removed.
{% endif %}
  </div>
{% else %}
{% if video.encoding_failed %}
  <div id="status">Encoding failed,<br/> uploaded video format not supported.
  </div>
{% else %}
{% if video.encoding %}
  <div id="status">Please come back later,<br /> video is still being transcoded.<br />
    {{video.encodingStatus}}
  </div>
{% else %}
  <video src="{{video.videoLink}}" id="video"  width="{{video.displayWidth}}" height="{{video.displayHeight}}" {% if autoplay %}autoplay{% endif %} controls></video>
{% endif %}
{% endif %}
{% endif %}
    </body>
</html>

