{% extends "base.html" %}
{% load videobin %}

{% block head %}
<title>VideoBin</title>
<script src="/static/js/jquery.js" type="text/javascript"></script>
<script type="text/javascript">var add_url = '{{"/add"|with_domain}}';</script>
<script src="/static/js/chunkupload.js" type="text/javascript"></script>
<script src="/static/js/upload.js" type="text/javascript"></script>
<script src="/static/js/firefogg.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
  <h1>VideoBin</h1>
  <div>
    Upload Video:
    <form id="addVideo" action="/add" method="POST" enctype="multipart/form-data">
     <input id="videoFile" name="videoFile" type="file" value="Select File..">
     <input id="addVideoSubmit" type="submit" value="Upload" disabled>
    </form>
    <form id="firefogg" style="display:none">
     <input id="selectVideo" type="button" value="Select File..">
     <input id="submitVideo" type="button" value="Upload">
    </form>
    <div id='progressbar' style="display: none">
  </div>
  
{% if bins %}  
<div>
<p>Your Recent VideoBins:</p>
  <ul>
    {% for b in bins %}  
        <li><a href="{{b.get_absolute_url}}">{{b.title}}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}

